.HomeIcon {
  display: flex;
}

.HomeIconText {
  display: flex;
  max-width: 150px;
  margin-left: 10px;
  height: 65px;
  justify-content: flex-end;
  flex-flow: column nowrap;
  font-family: 'Libre Franklin', 'Franklin Gothic', '-apple-system',
    'BlinkMacSystemFont', '"Segoe UI"', 'Roboto', '"Helvetica Neue"', 'Arial',
    'sans-serif', '"Apple Color Emoji"', '"Segoe UI Emoji"', '"Segoe UI Symbol"';
}

.HomeIconLocation {
  color: #ffeb3b;
}
